{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% load font_awesome %}

{% block content %}
<div class="row">
    <div class="col-sm">

        <div class="mt-2">
            <a href="{% url 'livestock:animal-create' %}" class="btn btn-outline-primary btn-sm float-right">
                {% trans "Add animal" %}
            </a>

            <h5>
                {% fa "life-bouy" %}
                {% trans "Livestock" %}
            </h5>
        </div>
        <div class="clearfix"></div>

        <div class="mt-3 list-group list-group-flush">
            {% for item in object_list %}
            <div class="list-group-item">
                <h5 class="mt-0 mb-1"><a href="{% url 'livestock:animal-detail' item.uuid %}">
                    {{ item.identity }}</a>
                </h5>
                <div>
		    <div class="dropdown float-right">
			<button class="btn btn-light text-muted" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% fa 'cog' %}
			</button>
			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
			    <a class="dropdown-item" href="#">Mark as sick</a>
			    {% if item.is_female and not item.is_pregnant %}
			    <a class="dropdown-item" href="#">Mark as pregnant</a>
			    {% endif %}
			    <a class="dropdown-item" href="{% url 'livestock:txn-list' %}?animal={{ item.uuid }}">All transactions</a>
			    <a class="dropdown-item" href="{% url 'livestock:animal-update' item.uuid %}">Update</a>
			</div>
		    </div>

                    {% trans "Income:" %}
                    Rs. {{ item.net_income }}
                    <br>

                    {% trans "Expense:" %}
                    Rs. {{ item.net_expense }}
                    <br>

                    {% trans "Health:" %}

                    {% if item.is_sick %}
                    <span class="text-danger">
                        {% trans "Sick" %}
                    </span>
                    {% else %}
                        {% fa "check-circle text-success" %}
                    {% endif %}

                </div>
            </div>
	    {% empty %}
	    <div class="alert alert-warning">
		{% trans "Sorry, no animal found in your farm. Please start registering your cattle" %}
	    </div>
            {% endfor %}
        </div>

        <div class="mt-2">
            {% bootstrap_pagination page_obj size='small' %}
        </div>

    </div>
</div>
{% endblock content %}
