{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load bootstrap4 %}

{% block content %}
<div class="row">
    <div class="col-sm">
        <h5>{% trans "Transactions in your farm" %}</h5>

        <a href="{% url 'livestock:txn-create' %}" class="btn btn-outline-primary btn-sm">
            {% trans "Add transaction" %}
        </a>

        <div class="mt-2 list-group list-group-flush">
            {% for item in object_list %}

            {% ifchanged item.created_at.date %}
            <div class="list-group-item">
               <strong>{{ item.created_at.date }}</strong>
            </div>
            {% endifchanged %}

            <div class="list-group-item">

                {% if item.animal %}
                {{ item.owner }}<br>
                {% endif %}

                {{ item.type }} <br>

                {% if item.type.is_expense %}
                <span class="text-danger">Rs. {{ item.amount }}</span>
                {% else %}
                <span class="text-success">Rs. {{ item.amount }}</span>
                {% endif %}
                <br>
                <small class="text-muted">{{ item.created_at|naturaltime }}</small>
            </div>
            {% endfor %}
        </div>

        <div class="mt-2">
            {% bootstrap_pagination page_obj size='small' %}
        </div>

    </div>
</div>
{% endblock %}
