{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}


{% block content %}
<div class="row">
    <div class="col-sm">
	<form action="" method="post">
	    {% csrf_token %}
	    {% bootstrap_form form %}

	    {% buttons %}
	    <button type="submit" class="btn btn-primary">
		Submit
	    </button>
	    {% endbuttons %}	    
	</form>
    </div>
</div>
{% endblock content %}


{% block footer_js %}
<script src="{% static 'moment.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />

<script>
 $('#{{ form.dob.auto_id }}').datetimepicker({
     allowInputToggle: true,
 });
ss</script>
{% endblock %}
