{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="row mt-3">
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{% trans "Income/Expenses" %}</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    {% trans "For last month, this, and next" %}
                </h6>
                <div>
                    <strong>Income</strong><br>
                    Dairy products: 32000<br>
		    Manure: 10000<br>
		    Trade: 143074<br>
		    Total: 185000
		</div>
		<div class="mt-2">
		    <strong>Expenses</strong><br>
		    Medicine: <br>
		    Manure: 10000<br>
		    Trade: 143074
		</div>
		<p class="card-text"></p>
		<a href="#" class="card-link">Card link</a>
		<a href="#" class="card-link">Another link</a>
	    </div>
	</div>
    </div>
</div>
{% endblock content %}
