{% extends "base.html" %}
{% load bootstrap4 %}


{% block content %}
<div class="row">
    <div class="col-sm">
        <div class="card mt-2">
	    <form action="" method="post">
	        {% csrf_token %}

                <div class="card-header">
                    Please confirm deletion of {{ object }}
                </div>
                <div class="card-body">
                    <h5 class="text-danger card-title">Are you sure?</h5>
                    <p class="card-text">
                        Deleting <strong>{{ object }}</strong>
                        will permanently remove it along with all associated information.
                    </p>

                    {% if cancel_url %}
                    <a class="btn btn-success" href="{{ cancel_url }}">Cancel</a>
                    {% elif request.META.HTTP_REFERER %}
                    <a class="btn btn-success" href="{{ cancel_url }}">Cancel</a>
                    {% endif %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
