{% extends "base.html" %}
{% load bootstrap4 %}


{% block content %}
<div class="row">
    <div class="col-sm">
        {{ header_message }}
	<form action="" method="post">
	    {% csrf_token %}
	    {% bootstrap_form form %}

	    {% buttons %}
	    <button type="submit" class="btn btn-primary">
              {% if object.id %}
                Update
              {% else %}
	        Save
              {% endif %}
	    </button>
	    {% endbuttons %}	    
	</form>
    </div>
</div>
{% endblock content %}
